{% if site.postshare_enabled %}


<aside class="share">

<script src="{{ "/assets/sharejs/js/qrcode.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "/assets/sharejs/js/social-share.js" | prepend: site.baseurl | prepend: site.url }}"></script>

 <!--  <p>分享：<a href="http://twitter.com/share?text={{page.title}}&amp;url={{ page.url | prepend: site.baseurl | prepend: site.url }}&amp;via={{ site.twitter_username }}"
  onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">Twitter</a>
 -->
  <!-- weibo -->
  <!-- http://service.weibo.com/share/share.php?url=https://blog.m-zhang.cn&title=haha -->

<!--   <p>分享到：<a href="http://service.weibo.com/share/share.php?title={{page.title}}&amp;url={{ page.url | prepend: site.baseurl | prepend: site.url }}"
  onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">微博</a> -->


<div class="social-share" data-wechat-qrcode-title="打开微信扫一扫">分享到：</div>


<!--    or <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.baseurl | prepend: site.url }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=235');return false;">Facebook</a>.</p> -->

</aside>


{% endif %}
